* { box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: #0099fe;
}

body {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: 'Livvic', serif;
  font-size: 1.2em;
}
