* { box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  color: #333;
}

body {
  margin: 10px auto;
  width: 900px;
  padding: 8px;
  box-sizing: border-box;
  font-family: 'Livvic', serif;
  font-size: 1.2em;
}
